# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [5]:
import datetime

print(datetime.datetime.now())

2024-08-07 19:54:39.651177

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [7]:
import math

def getArea(radius):
  return math.pi * (radius**2)

getArea(3)

28.274333882308138

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [9]:
def noDuplicates(arr):
  set_of_arr = set(arr)
  return len(set_of_arr) == len(arr)

input_list = [1,2,3,4,5]
noDuplicates(input_list)

True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [15]:

fp = 'data/lil-wayne.txt'
fh = open(fp)
data = fh.read()

my_dict = {}

for word in data: 
  if not word.upper() in my_dict:
    my_dict[word.upper()] = 1
  else:
    my_dict[word.upper()] += 1

print(my_dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [17]:
sorted_dict =  sorted(my_dict.items(), key = lambda x:x[1], reverse=True)
sorted_dict

[(' ', 522),
 ('E', 274),
 ('A', 211),
 ('I', 185),
 ('T', 180),
 ('N', 165),
 ('R', 152),
 ('S', 152),
 ('O', 145),
 ('L', 126),
 ('H', 122),
 ('M', 77),
 ('D', 74),
 ('U', 66),
 ('W', 63),
 ('C', 60),
 ('B', 59),
 ('G', 53),
 ('Y', 44),
 ('F', 44),
 ('P', 39),
 (',', 37),
 ('0', 36),
 ('1', 28),
 ('.', 26),
 ('2', 24),
 ('V', 20),
 ('9', 16),
 ('[', 14),
 (']', 14),
 ('K', 13),
 ('(', 12),
 (')', 12),
 ('J', 8),
 ('7', 7),
 ('8', 6),
 ('\n', 6),
 ('-', 6),
 ('X', 5),
 ('5', 5),
 ('4', 4),
 ('6', 3),
 ('3', 2),
 (';', 1),
 ('!', 1),
 ('—', 1)]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [20]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth = list1.pop(3)
list1.append(list1[-1]*fourth)

list1

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [21]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for num in original_list:
  if num%3 == 0:
    new_list.append(num)

new_list

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [23]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()

original_list

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [24]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []

for num in original_list:
  new_list.append(num**2)

new_list

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [25]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
  print(list1[i], list2[-1-i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [32]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

i = 0
while(i < len(list_of_strings)):
  if list_of_strings[i] == '':
    list_of_strings.pop(i)
  else:
    i+=1

list_of_strings

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [33]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if 999 in sample_dict.values():
  print(True)
else:
  print(False)

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [ ]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password
if message in "Arrr!":
	print("Go away, pirate.")
else:
  print("Greetings, hater of pirates!")

In [36]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (pages*word_per_page)/10
print (each_chunk)

11425.0

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [5]:
import pandas as pd

df = pd.read_csv('data/titanic.csv')

TypeError: 'Index' object is not callable

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [21]:
import numpy as np

ages = []
for age in df['age']:
  if age//1 == age:
    ages.append(age)

average_age = np.round( sum(ages)/len(ages) )
average_age

30.0

## What was the oldest and youngest ages on the titanic?

In [24]:
sorted_ages = sorted(ages)
print('The youngest age was', sorted_ages[0])
print('The oldest age was', sorted_ages[-1])

#OR
print('The youngest was', min(ages))
print('The oldest was', max(ages))

The youngest age was 1.0
The oldest age was 80.0
The youngest was 1.0
The oldest was 80.0

## How many people embarked from station 'S'?

In [25]:
count = 0
for station in df['embarked']:
  if station == 'S':
    count+=1

count

644